@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center mt-3 page">
    <hr />
    <div class="fade">
        <h1 class="display-4">Welcome to Mitchell Moves</h1>
        <p>An independent estate agents, operating in the Taunton area.</p>

    </div>
    <hr />

    <div id="welcomeimg" class="fadeUp mt-5">
    </div>
</div>

<div class="row mb-5">
    <div class="col d-flex justify-content-center align-items-center">
        <div class="card" style="width: 18rem;">
            <img src="~/Images/for-sale.png" class="card-img-top cardimg mx-auto " alt="viewpropertiesimg">
            <div class="card-body">
                <h5 class="card-title">View Current Properties</h5>
                <p class="card-text">Click below to view all current properties we have on offer!</p>
                <a href="#" class="btn btn-primary w-100">Current Properties</a>
            </div>
        </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
        <div class="card" style="width: 18rem;">
            <img src="~/Images/buy.png" class="card-img-top cardimg mx-auto" alt="searchpropertyimage">
            <div class="card-body">
                <h5 class="card-title">Search for a Property</h5>
                <p class="card-text">Click below to search for a specific property.</p>
                <a href="#" class="btn btn-primary w-100">Search</a>
            </div>
        </div>
    </div>
    <div class="col d-flex justify-content-center align-items-center">
        <div class="card" style="width: 18rem;">
            <img src="~/Images/photo-gallery.png" class="card-img-top cardimg mx-auto" alt="galleryimage">
            <div class="card-body">
                <h5 class="card-title">Gallery</h5>
                <p class="card-text">Click below to see a gallery of all the properties we have on offer.</p>
                <a href="#" class="btn btn-primary w-100">Gallery</a>
            </div>
        </div>
    </div>
</div>


<marquee id="testimonials" class="fs-3 fw-light" scrollamount="10">"Very quick sale, friendly staff and beautiful home" --- "WOW - What a team!" --- "I would use Mitchell Moves, every time!"</marquee>
