@{
    ViewData["Title"] = "Home Page";
}



<div id="welcomeimg">
</div>

<div class="text-center mt-3">
    <h1 class="display-4">Welcome to Mitchell Moves</h1>
    <p>An independent estate agents, operating in the Taunton area.</p>
</div>
