@{
    ViewData["Title"] = "Admin Dashboard";
}


<div class="container">
    <h1>Admin Dashboard</h1>
    <p class="mb-3">Welcome, Admin! Below is your dashboard.</p>


    <div class="row">
        <div class="col mx-2">
            <div class="row">
                <div class="col h-auto bg-white shadow-lg rounded-3 mb-3">
                    <h2>Recent New Accounts</h2>
                </div>
            </div>
            <div class="row">
                <div class="col h-auto bg-white shadow-lg rounded-3">
                    <h2>Current Roles</h2>
                </div>
            </div>
        </div>
        <div class="col h-auto bg-white shadow-lg mx-2 rounded-3">
            <h2>Manage Properties</h2>
        </div>
    </div>
</div>