@import url('https://fonts.googleapis.com/css2?family=Delius&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    overflow-x: hidden;
}
.navbg {
    background-color: #003285;
    
}

#logo{
    height: 8vh;
}
#logotxt {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FF7F3E;
   
}
.navbar-toggler-icon {
    color: white;
}

#welcomeimg {
    background-image: url("/Images/house-banner.png");
    background-size: cover;
    background-position: center calc(50% - 90px);
    background-repeat: no-repeat;
    height: 60vh;
    margin-left: 8vw;
    margin-right: 8vw;
}

.box {
    background-color: #2A629A;
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Normal size */
    }

    100% {
        transform: scale(1.03); /* Slightly larger */
    }
}

.btn {
    background-color: #FFDA78;
    color: black;
    font-weight:bold;
    border: none;
}
    .btn:hover {
        background-color: #FF7F3E;
        color: white;
        animation: pulse 1s; 
        animation-fill-mode: forwards;
    }



.links{
    text-decoration:none;
    color: white;
    text-decoration:underline;
}
    .links:hover {
        color: #FF7F3E;
    }

.title {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    color: #FF7F3E;
}

#testimonials {
    background-color: #FF7F3E;
    
    height: 50px;
}
.cardimg{
    width: 10vw;
}

@keyframes fadeIn{
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fade {
    animation: fadeIn 4s;
    animation-fill-mode: forwards;
}

@keyframes fadeInUp{
    0%{
        opacity: 0;
        transform: translateY(20px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeUp{
    animation: fadeInUp 2s ease-out;
    animation-fill-mode: forwards;
}

.page{
    height: 87vh;
}